.help-screen {
  padding: 52px 0;
  position: relative;
  height: 440px;
  box-sizing: border-box;

  @include mobile {
    height: 312px;
  }

  @include tablet {
    padding: 52px 0 52px 20px;
    overflow: hidden;
  }

  @include mobile {
    padding: 24px 20px;
  }

  &__content {
    max-width: 1000px;
    margin: auto;
    position: relative;
    z-index: 6;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #00a99d;

    @include mobile {
      font-size: 36px;
      max-width: 300px;
    }
  }

  &__tabs {
    display: flex;
    margin-top: 12px;
  }

  &__tab {
    background-color: #ffffff;
    border: 1px solid #00a99d;
    border-radius: 40px;
    padding: 4px 12px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #00a99d;
    margin-right: 4px;
    transition: $transition;

    @include mobile {
      font-size: 12px;
      line-height: 15px;
      padding: 4px 8px;
    }

    &--active {
      background-color: #00a99d;
      color: #ffffff;
    }

    &:hover {
      background-color: rgba(0, 169, 157, 0.2);
      border: 1px solid #00a99d;
      color: #00a99d;
    }
  }

  &__text-wrapper {
    margin-top: 24px;
    width: 250px;
    position: relative;
  }

  &__text-block {
    position: absolute;
    opacity: 0;
    transition: all 0.6s;

    &--active {
      opacity: 1;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    border-bottom: 2px solid #000000;

    @include mobile {
      font-size: 14px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    transition: all 0.6s;
    z-index: 5;

    @include mobile {
      display: none;
    }

    &--teachers {
      right: 30%;

      @include tablet {
        right: -10%;
      }
    }

    &--parents {
      right: 20%;

      @include tablet {
        display: none;
      }
    }

    &--managers {
      right: 0;

      @include tablet {
        display: none;
      }
    }

    &--active {
      opacity: 1;

      @include tablet {
        opacity: 0.5;
      }
    }
  }
}
