.button {
  display: block;
  background-color: #f3525f;
  border-radius: 45px;
  border: none;
  padding: 16px 35px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transition: $transition;

  @include mobile {
    font-size: 12px;
    padding: 12px 15px;
  }

  &:hover {
    background-color: #c9454f;
  }

  &--outline {
    color: #f3525f;
    background-color: transparent;
    border: 1px solid #f3525f;

    &:hover {
      background-color: #c9454f;
      border-color: #c9454f;
      color: #ffffff;
    }
  }
}
