// common
@import "reset";
@import "fonts";
@import "vars";
@import "media-mixins";

// components
@import "../components/button/button.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/goalItem/goal-item.scss";
@import "../components//videoItem/video-item.scss";
@import "../components/goalsSliderDesktop/goals-slider-desktop.scss";
@import "../components/goalsSliderMobile/goals-slider-mobile.scss";
@import "../components/benefitsSlider/benefits-slider.scss";
@import "../components/feedbackSlider/feedback-slider.scss";
@import "../components/videosSlider/videos-slider.scss";
@import "../components/screens/screens.scss";
@import "../components/videoModal/video-modal.scss";
@import "../components/lessonModal/lesson-modal.scss";
@import "../components/mobileHeader/mobile-header.scss";
@import "../components/contactForm/contact-form.scss";
@import "../components/formModal/form-modal.scss";
@import "../components/modal/modal.scss";

body {
  font-family: "Inter", sans-serif;

  @media (-webkit-device-pixel-ratio: 1) {
    zoom: 1.25;
  }
}

body.modal-opened {
  overflow: hidden;
}

.main {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    pointer-events: none;
    z-index: 1;

    &--left {
      left: -355px;
      top: 862px;
      animation: letterAnim 4s ease-in-out;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    &--right {
      right: -365px;
      top: 740px;
      animation: letterAnim 6s ease-in-out;
      animation-delay: 2s;
      animation-iteration-count: infinite;
    }

    @include desktop_small_tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}

@keyframes letterAnim {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
