.goal-item-link {
  text-decoration: none;
}

.goal-item {
  display: flex;
  width: 353px;
  height: 187px;
  padding: 15px 11px;
  background-color: #ffffff;
  border: 0.75px solid #e1e4eb;
  border-radius: 7.5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: #fcdddb;
  }

  @include mobile {
    width: 260px;
    height: 272px;
    flex-direction: column;
    padding: 12px;
  }

  &--active {
    background-color: #f3525f;
    border: none;
    box-shadow: -37.5px 37.5px 60px rgba(48, 65, 78, 0.2);

    &:hover {
      background-color: #f3525f;
    }

    .goal-item__title,
    .goal-item__desc {
      color: #ffffff;
    }

    svg rect {
      fill: #ffffff;
    }

    svg path {
      fill: #f3525f;
    }
  }

  svg {
    flex-shrink: 0;
  }

  &__text {
    margin-left: 11px;

    @include mobile {
      margin: 12px 0 0 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #111111;
    margin-bottom: 9px;
  }

  &__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -0.26px;
    color: #111111;
    opacity: 0.5;
  }
}
