.video-item {
  margin: 0 2px;
  cursor: pointer;
  transition: $transition;

  &--disabled {
    opacity: 0.5;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #474747;
    position: relative;

    &:hover {
      .video-item__preview {
        filter: brightness(1);
      }
    }

    @include mobile {
      width: 180px;
      height: 120px;
    }
  }

  &__preview {
    position: absolute;
    width: 100%;
    filter: brightness(0.75);
    transition: $transition;
  }

  &__icon {
    position: relative;
    z-index: 1;

    @include mobile {
      width: 53px;
    }
  }

  &__text {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;

    @include mobile {
      font-size: 10px;
    }
  }
}
